{% extends "simplewiki/base.html" %}

{% block title %}{{ doc.title }}{% endblock %}

{% block content %}
    <h1>
        {{ doc.title }}
        {% if user.is_authenticated %}
        [<a href="{% url 'simplewiki.update' slug=doc.slug %}">{{ _('edit') }}</a>
        <a href="{% url 'simplewiki.create' %}">{{ _('create') }}</a>]
        {% endif %}
    </h1>
    <p id="doc-meta">
        Created {{ doc.created_on|timesince }} ago. Updated by {{ doc.current_revision.creator }}
        {{ doc.current_revision.created_on|timesince }} ago.
    </p>
    {{ doc.current_revision.rendered|safe }}
    <p>
        <strong>{{ _('Contributors:') }}</strong> {{ doc.get_contributors }}
    </p>
    {% if doc.current_revision.summary %}
    <p>
        <strong>{{ _('Latest revision summary:') }}</strong> {{ doc.current_revision.summary }}
    </p>
    {% endif %}
{% endblock %}
