{% extends "simplewiki/base.html" %}

{% block title %}{{ doc.title }}{% endblock %}

{% block content %}
    <h1>
        <div class="doc-tools">
        {% if user.is_authenticated %}
        {% if not doc.is_locked %}
        <a href="{% url 'simplewiki.update' slug=doc.slug %}">{{ _('edit') }}</a>
        {% endif %}
        {% if perms.app_label.can_lock %}
            {% if doc.is_locked %}
            <a href="">unlock</a>
            {% else %}
            <a href="">lock</a>
            {% endif %}
        {% endif %}
        {% endif %}
        <a href="{% url 'simplewiki.revisions' slug=doc.slug %}">revisions</a>
        </div>
        {{ doc.title }}
    </h1>
    <p id="doc-meta">
        Created by {{ doc.creator }} {{ doc.created_on|timesince }} ago.
    </p>
    <hr>
    {{ doc.rendered|safe }}
    <hr>
    <strong>Contributors</strong>:
    {% for user in doc.get_contributors %}
        {{ user }}
    {% endfor %}
{% endblock %}
