{% extends "simplewiki/base.html" %}

{% block title %}Editing {{ object.title }}{% endblock %}

{% block content %}
    {% if action == 'update' %}
    <h2>Editing <a href="{% url 'simplewiki.detail' slug=object.slug %}">{{ object.title }}</a></h2>
    {% else %}
    <h2>{{ _('Create') }}</h2>
    {% endif %}
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="footer">
            <input class="button" type="submit" value="{{ _('Save') }}">
        </div>
    </form>
{% endblock %}
